@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.socicon{
  font-size: 1.5rem;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
body{
  overflow: hidden;
  
  /*background-color: rgba(0,0,0,0);*/
  font:  'Helvetica Neue', Helvetica, Arial, sans-serif;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}
.logo-top{
  text-align: center;
}
.invert-color{
	display: block;
	position: absolute;
	z-index: 9999;
	left: 150px;
	top: 200px;
	color: rgba(33,150,243, 1);
	cursor: pointer;
	-webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.logo{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background: url("../images/logo.svg");

}
.card{
  min-height: 300px;
  background-color: rgba(255,255,255,0.1);
  color: #039be5;
}
.invert-color:hover{
color: #673ab7;
}
.background{
  z-index: 0;
  position: absolute;
}
.wrapper{
  position: relative;
  z-index: 10;
}
.top{
margin-top: 7%;
}
.nav{
  min-height: 50px;
}
.nav ul {
  display: inline-flex;
  display: -moz-inline-box;
  width: 280px;
  margin: 6px auto;
}
.nav ul li{
  margin: 0 25px 0 25px;
  padding: 5px;
}

.nav ul li a span{
  width: 0px;
  height: 0px;
  font-size: 0px;
  display: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.nav ul li a{
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.nav ul li a:hover{
  color: #673ab7;

}
.collapsible-header{
  /*background-color: rgba(255,255,255,0.1);*/
  border-bottom: 1px solid #039be5;
  color: #039be5;
}
.collapsible-body{
  border-bottom: 1px solid #039be5;
}
@media screen and (max-width: 1280px) {
  .nav ul li{
    margin: 0 15px 0 15px;
  }
}
@media screen and (max-width: 980px) {
  .nav ul li a i{
    font-size: 7em;
  }
  .nav ul li{
    margin: 0 40px 0 40px;
  }
  .logo-top h5{
    font-size: 3.64em;
  }
  .invert-color{
    top: 300px;
    right: 100px;
    left: auto;

  }
  .invert-color i{
    font-size: 5em;
  }
}
 h1{
  cursor:default;
}
 h1{
  margin-bottom: 0px !important;
}
 h1 p{
  margin: 0;
}
 span{
  font-size: 1.2em;
  font-weight: 100;
  color: rgba(33,150,243, 1);
}
 h1 span{
  cursor:default;
  /*margin: -8px;*/
  font-weight: 100;
  color: rgba(33,150,243, 1);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
h1  p span:hover{
  color: #673ab7;
}
.sa h1  p span:hover{
  color: #673ab7;
}
.moduleParagraphs p span:hover{
  color: #673ab7;
}
.moduleParagraphs p{
  cursor:default;
}
.moduleParagraphs p{
  margin-bottom: 0px !important;
}
.moduleParagraphs p p{
  margin: 0;
}
.moduleParagraphs span{
  font-weight: 100;
  color: rgba(33,150,243, 1);
}
.moduleParagraphs p span{
  cursor:default;
  /*margin: -8px;*/
  font-weight: 300;
  font-size: 1.2em;
  color: rgba(33,150,243, 1);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.moduleParagraphs p span:hover{
  color: #673ab7;
}
.moduleParagraphs:before{
  content: "<p>";
  text-align: left;
  font-size: 14px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #b0bec5;
  font-style: italic;
  display: block;
}
.moduleParagraphs:after{
  content: "</p>";
  text-align: right;;
  font-size: 14px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #b0bec5;
  font-style: italic;
  display: block;
}
.greating:after{
  content: "Front End, Back End Developer / JS / HTML / CSS";
  text-align: left;
  font-size: 14px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #b0bec5;
  font-style: italic;
  display: block;
}
/*.moduleTitle:before{
  content: "for ( var i = 0; i < p.lendth; i++ ){";
  text-align: left;
  font-size: 14px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #b0bec5;
  font-style: italic;
  display: block;
}
.moduleTitle::after{
  content: "}       // html, css, js";
  text-align: left;
  font-size: 14px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #b0bec5;  font-style: italic;
  display: block;
}*/
.center{
 text-align: left;
  margin: 0 auto;
  float: none !important;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
.sa{
  text-align: center;
  width: 200px;
  margin: 0 auto;
}
/*.sa::before{
  content: "<h1>";
  text-align: left;
  font-family: 'Gloria Hallelujah', cursive;
  color: #b0bec5;
  font-style: italic;
  display: block;
}*/
.sa::after{
  content: "</h1>";
  text-align: right;
  font-family: 'Gloria Hallelujah', cursive;
  color: #b0bec5;
  font-style: italic;
  display: block;
}
.sa h1 {
  margin-bottom: -12px !important;
}
.sa h1 span{

  margin: 0 -13px 0 -13px;
  font-size: 10rem;
  font-weight: 100 !important;

}
.sa span{
  margin-left: 20px;
  letter-spacing: 5px;
  font-weight: 500;
}
h5{
  font-weight: 300;
}
.main{
  display: none;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
.about{
  display: none;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
.skills{
  display: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.work{
  display: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.contacts{
  display: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.active{
    display: block;

    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
}
@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-100%); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-100%); }
    100% { opacity: 1; -moz-transform: translateY(0); }
}
.about-text{
  margin: 0 auto;
  width: 60%;
}
.skills-text{
  margin: 0 auto;
  width: 60%;
}
.skillPreview{
  perspective: 500px;
  perspective-origin: center -5em;
}
.skillPreview .side, .cube {
  width: 20em;
  height: 20em;
  }

.skillPreview .cube {
  margin: 5em auto 0;
  /*border: 2px dotted white;*/
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
  }
  .skillPreview .cube:before,  .cube:after {
    content: "";
    display: block;
    position: absolute;
    width: 15em;
    height: 15em;
    /*border: 2px dotted white;*/
    }
    .skillPreview .cube:before {
      transform: rotateX(90deg);
      }
    .skillPreview .cube:after {
      transform: rotatey(90deg);
      }

.skillPreview .side {
  position: absolute;
  width: 15em;
  height: 15em;
/*  border: 2px solid white;*/
  opacity: 1;
  }

.skillPreview .back {
  transform: translateZ(-7.5em);
  background: rgba(13,71,161, .7) url('../images/CSS3.png') no-repeat;
  background-size: cover;
  }
.skillPreview .left {
  transform: translateX(-7.5em) rotateY(90deg);
  background: rgba(13,71,161, .7) url('../images/HTML5.png') no-repeat;
  background-size: cover;
  }
.skillPreview .right {
  transform: translateX(7.5em) rotateY(90deg);
  background: rgba(13,71,161, .7) url('../images/php.png') no-repeat;
  background-size: contain;
  }
.skillPreview .top {
  transform: translateY(-9em) rotateX(90deg);
  background: rgba(13,71,161, .7) url('../images/mysql.png') no-repeat;
  background-size: contain;
  }
.skillPreview .bottom {
  transform: translateY(7.5em) rotateX(90deg);
  background: rgba(13,71,161, .7) url('../images/Javascript.png') no-repeat;
  background-size: cover;
  }
.skillPreview .front {
  transform: translateZ(7.5em);
  background: rgba(13,71,161, .7) url('../images/PostgreSQL.png') no-repeat;
  background-size: cover;
  }

@keyframes rotate {
  100% {
    transform: rotatex(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
